muscleforgeproject/muscleforge/static/muscleforge/css/* linguist-vendored=true
muscleforgeproject/muscleforge/static/muscleforge/scss/* linguist-vendored=true
muscleforgeproject/muscleforge/static/muscleforge/vendor/* linguist-vendored=true
