{% extends "muscleforge/base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            {% for workoutplan in workoutplans %}
              <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'workoutplan-detail' workoutplan.id %}" class="text-decoration-none">{{ workoutplan.title }}</a></h5>                  
                    <h6 class="card-subtitle mb-2 text-muted">{{ workoutplan.start_date }} - {{ workoutplan.end_date }}</h6>
                    <p class="card-text">{{ exercise.description }}</p>
                    {% if workoutplan.status %}
                        <p class="card-text"><small class="text-muted">Status: Completed</small></p>
                    {% else %}
                        <p class="card-text"><small class="text-muted">Status: Not Completed</small></p>
                    {% endif %}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>     
    </div>
{% endblock content %}