{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
    </div>
    <form class="user" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary btn-user btn-block">
            Login
        </button>
    </form>
    <hr>
    <div class="text-center">
        <a class="small" href="{% url "register" %}">Need An Account? Sign Up Now</a>
    </div>

{% endblock content %}